.todo-list {
   background: white;
   width: 100%;
   margin: 0 auto;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.todo-item {
   padding: 1rem 1.25rem;
   border-bottom: 1px solid var(--todo-border);
   display: flex;
   align-items: center;
}

.todo-text {
   color: var(--text-color);
   margin-left: 1.5rem;
   font-size: 0.75rem;
   letter-spacing: -0.17px;
   transform: translateY(2px);
}

.todo-remove {
   width: 1rem;
   height: 1rem;
   margin-left: auto;
   position: relative;
   cursor: pointer;
}

.todo-remove::after,
.todo-remove::before {
   content: "";
   position: absolute;
   left: 50%;
   height: 100%;
   width: 1px;
   background-color: var(--text-color);
}

.todo-remove::after {
   transform: rotate(-45deg);
}

.todo-remove::before {
   transform: rotate(45deg);
}

input.checkbox {
   display: none;
}

.todo-checkbox {
   position: relative;
   display: block;
   height: 1.25rem;
   width: 1.25rem;
   border-radius: 50%;
   border: 1px solid var(--todo-border);
}

.todo-checkbox::after {
   content: "";
   opacity: 0;
   position: absolute;
   top: 35%;
   left: 28.5%;
   border: 2px solid white;
   border-top: none;
   border-right: none;
   transform: rotate(-45deg);
   width: 6px;
   height: 2px;
}

input.checkbox:checked ~ .todo-text {
   text-decoration: line-through;
   color: var(--todo-inactive);
}

input.checkbox:checked ~ .todo-checkbox {
   background: rgb(85, 221, 255);
   background: linear-gradient(
      135deg,
      rgba(85, 221, 255, 1) 0%,
      rgba(192, 88, 243, 1) 100%
   );
}

input.checkbox:checked ~ .todo-checkbox::after {
   opacity: 1;
}
