/* titlebar */
.titlebar {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2.5rem;
   max-height: 1.25rem;
}

.title {
   color: #ffffff;
   font-weight: 700;
   font-size: 1.65rem;
   letter-spacing: 0.675rem;
}

.lightmode-icon {
   width: 1.25rem;
   height: 1.25rem;
   cursor: pointer;
}

/* add todo*/
div.add-todo {
   background: var(--todo-bg);
   border-radius: 5px;
   margin-bottom: 1rem;
   padding-top: 14px;
   padding-bottom: 14px;
   max-height: 3rem;
}

.todo-input {
   position: relative;
   width: 100%;
   caret-color: #3A7CFD;
}

.todo-input:empty:before {
   content: attr(placeholder);
   color: var(--todo-placeholder);
   display: block;
   position: absolute;
   width: 100%;
   font-family: 'Josefin Sans', sans-serif;
}

/* todo list */
.todo-list {
   background: var(--todo-bg);
   width: 100%;
   margin: 0 auto;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.todo-item {
   padding: 1rem 1.25rem;
   border-bottom: 1px solid var(--todo-border);
   display: flex;
   align-items: center;
}

.todo-text {
   color: var(--text-color);
   margin-left: 0.75rem;
   transform: translateY(2px);
}

.todo-remove {
   width: 0.75rem;
   height: 0.75rem;
   margin-left: auto;
   cursor: pointer;
}

input.checkbox {
   display: none;
}

.todo-checkbox {
   position: relative;
   display: block;
   height: 1.25rem;
   width: 1.25rem;
   border-radius: 50%;
   border: 1px solid var(--todo-border);
   flex-shrink: 0;
   cursor: pointer;
}

.checkbox-icon {
   width: 9px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   user-select: none;
}

input.checkbox:checked ~ .todo-text:not(.todo-input) {
   text-decoration: line-through;
   color: var(--todo-inactive);
}

input.checkbox:checked ~ .todo-checkbox {
   background: rgb(85, 221, 255);
   background: linear-gradient(
      135deg,
      rgba(85, 221, 255, 1) 0%,
      rgba(192, 88, 243, 1) 100%
   );
}

input.checkbox:checked ~ label > .checkbox-icon {
   opacity: 1;
}

.todo-empty {
   padding: 2rem;
   margin: 0;
   text-align: center;
   border-bottom: 1px solid var(--todo-border);
}

/* menubar */
.menu {
   color: var(--text-secondary);
   padding: 1rem 1.25rem 1.35rem;
   background: var(--todo-bg);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   display: flex;
   justify-content: space-between;
   box-shadow: 0 35px 50px -15px var(--box-shadow);
}

.clear-completed {
   cursor: pointer;
}

.clear-completed:hover {
   color: #e3e4f1;
}

.menu > .submenu-container {
   display: none;
}

.submenu-container:not(:nth-child(2)) {
   background: var(--todo-bg);
   padding: 1rem 1rem 1.125rem;
   border-radius: 5px;
   margin-top: 1rem;
   box-shadow: 0 35px 50px -15px var(--box-shadow);
}

.submenu {
   display: flex;
   align-items: center;
   gap: 1.125rem;
   font-size: 0.875rem;
   line-height: 0.875rem;
   font-weight: 700;
   color: var(--text-secondary);
   width: fit-content;
   margin: 0 auto;
}

.submenu > .active {
   color: #3a7cfd;
}

.submenu > div {
   cursor: pointer;
}

/* footer */
.footer-text {
   font-size: 0.875rem;
   line-height: 0.875rem;
   letter-spacing: -0.19px;
   color: var(--text-secondary);
   text-align: center;
   margin-top: 2.5rem;
   transform: translateY(2px);
}
