/* global styles */
body {
   font-family: "Josefin Sans", sans-serif;
   min-height: 100vh;
   height: 100%;
   background: var(--bg-color);
   font-size: 0.75rem;
   line-height: 0.75rem;
   letter-spacing: -0.17px;
}

img {
   width: 100%;
}

.container {
   padding: 3rem 1.5rem;
   margin: 0 auto;
   max-width: 540px;
   box-sizing: content-box;
}

.bg-image {
   min-height: 200px;
   object-fit: cover;
   object-position: 33.3334%, 0%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

/* titlebar */
.titlebar {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   margin-bottom: 2.5rem;
   max-height: 1.25rem;
}

.title {
   color: #ffffff;
   font-weight: 700;
   font-size: 1.65rem;
   letter-spacing: 0.675rem;
   min-height: 1.25rem;
}

.lightmode-icon {
   width: 1.25rem;
   height: 1.25rem;
   cursor: pointer;
}

/* add todo*/
div.add-todo {
   background: var(--todo-bg);
   border-radius: 5px;
   margin-bottom: 1rem;
   padding-top: 0.875rem;
   padding-bottom: 0.875rem;
   max-height: 3rem;
}

.todo-input {
   position: relative;
   width: 100%;
   caret-color: #3a7cfd;
}

.todo-input:empty:before {
   content: attr(placeholder);
   color: var(--todo-placeholder);
   display: block;
   position: absolute;
   width: 100%;
   font-family: "Josefin Sans", sans-serif;
}

/* todo list */
.todo-list {
   background: var(--todo-bg);
   width: 100%;
   margin: 0 auto;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.todo-item {
   padding: 1rem 1.25rem;
   border-bottom: 1px solid var(--todo-border);
   display: flex;
   align-items: center;
   user-select: none;
}

.todo-text {
   color: var(--text-color);
   margin-left: 0.75rem;
   transform: translateY(2px);
}

.todo-text:not(.todo-input) {
   cursor: grab;
}

.todo-remove {
   width: 0.75rem;
   height: 0.75rem;
   margin-left: auto;
   cursor: pointer;
   transition: transform 0.35s ease-in-out;
}

.todo-remove:hover {
   transform: scale(1.1);
}

input.checkbox {
   display: none;
}

.todo-checkbox {
   position: relative;
   display: block;
   height: 1.25rem;
   width: 1.25rem;
   border-radius: 50%;
   border: 1px solid var(--todo-border);
   flex-shrink: 0;
   cursor: pointer;
}

input.checkbox:not(:checked) ~ .todo-checkbox:hover {
   background: linear-gradient(
      135deg,
      rgba(85, 221, 255, 1) 0%,
      rgba(192, 88, 243, 1) 100%
   );
   border: none;
   transition: all 1.35s ease-in-out;
}

input.checkbox:not(:checked) ~ .todo-checkbox:hover::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: calc(1.25rem - 2px);
   width: calc(1.25rem - 2px);
   border-radius: 50%;
   background: var(--todo-bg);
}

.checkbox-icon {
   width: 9px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   user-select: none;
}

input.checkbox:checked ~ .todo-text:not(.todo-input) {
   text-decoration: line-through;
   color: var(--todo-inactive);
}

input.checkbox:checked ~ .todo-checkbox {
   background: rgb(85, 221, 255);
   background: linear-gradient(
      135deg,
      rgba(85, 221, 255, 1) 0%,
      rgba(192, 88, 243, 1) 100%
   );
}

input.checkbox:checked ~ label > .checkbox-icon {
   opacity: 1;
}

.todo-empty {
   padding: 2rem;
   margin: 0;
   text-align: center;
   border-bottom: 1px solid var(--todo-border);
}

.sortable-drag {
   opacity: 0;
}

/* menubar */
.menu {
   color: var(--text-secondary);
   padding: 1rem 1.25rem 1.35rem;
   background: var(--todo-bg);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   display: flex;
   justify-content: space-between;
   box-shadow: 0 35px 50px -15px var(--box-shadow);
}

.clear-completed {
   cursor: pointer;
}

.clear-completed:hover {
   color: var(--hover-color);
}

.menu > .submenu-container {
   display: none;
}

.submenu-container:not(:nth-child(2)) {
   background: var(--todo-bg);
   padding: 1rem 1rem 1.125rem;
   border-radius: 5px;
   margin-top: 1rem;
   box-shadow: 0 35px 50px -15px var(--box-shadow);
}

.submenu {
   display: flex;
   align-items: center;
   gap: 1.125rem;
   font-size: 0.875rem;
   line-height: 0.875rem;
   font-weight: 700;
   color: var(--text-secondary);
   width: fit-content;
   margin: 0 auto;
}

.submenu > .active {
   color: #3a7cfd;
}

.submenu > div {
   cursor: pointer;
}

.submenu > div:not(.active):hover {
   color: var(--hover-color);
}

/* footer */
.footer-text {
   font-size: 0.875rem;
   line-height: 0.875rem;
   letter-spacing: -0.19px;
   color: var(--text-secondary);
   text-align: center;
   margin-top: 2.5rem;
   transform: translateY(2px);
}

@media (min-width: 540px) {
   body {
      font-size: 1.125rem;
      line-height: 1.125rem;
      letter-spacing: -0.25px;
   }

   .container {
      padding: 4.375rem 1.5rem 3.25rem;
   }

   .bg-image {
      min-height: 300px;
   }

   .titlebar {
      max-height: 3rem;
      height: 3rem;
   }

   .title {
      font-size: 2.5rem;
      letter-spacing: 0.9375rem;
      align-self: center;
      transform: translateY(-2px);
   }

   .lightmode-icon {
      height: 1.625rem;
      width: 1.625rem;
      align-self: center;
   }

   div.add-todo {
      margin-bottom: 1.5rem;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      max-height: 4rem;
   }

   .todo-item {
      padding: 1.25rem 1.5rem;
   }

   .todo-text {
      color: var(--text-color);
      margin-left: 1.5rem;
   }

   .todo-remove {
      width: 1.125rem;
      height: 1.125rem;
      display: none;
   }

   .todo-item:hover > .todo-remove {
      display: block;
   }

   input.checkbox:not(:checked) ~ .todo-checkbox:hover::before {
      height: calc(1.5rem - 1.5px);
      width: calc(1.5rem - 1.5px);
   }

   .todo-checkbox {
      height: 1.5rem;
      width: 1.5rem;
   }

   .checkbox-icon {
      width: 11px;
   }

   .menu {
      font-size: 0.875rem;
      line-height: 0.875rem;
      letter-spacing: -0.19px;
      padding: 1.08rem 1.5rem 1.17rem;
   }

   .submenu-container {
      display: none;
   }

   .menu > .submenu-container {
      display: block;
   }

   .footer-text {
      margin-top: 3rem;
   }
}
