.todo-list {
   background: white;
   width: 100%;
   margin: 0 auto;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.todo-item {
   padding: 1rem 1.25rem;
   border-bottom: 1px solid var(--todo-border);
   display: flex;
   align-items: center;
}

.todo-text {
   color: var(--text-color);
   margin-left: 1.5rem;
   font-size: 0.75rem;
   letter-spacing: -0.17px;
   transform: translateY(2px);
}

.todo-remove {
   width: 0.75rem;
   height: 0.75rem;
   margin-left: auto;
   cursor: pointer;
}

input.checkbox {
   display: none;
}

.todo-checkbox {
   position: relative;
   display: block;
   height: 1.25rem;
   width: 1.25rem;
   border-radius: 50%;
   border: 1px solid var(--todo-border);
}

.checkbox-icon {
   width: 9px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   user-select: none;
}

input.checkbox:checked ~ .todo-text {
   text-decoration: line-through;
   color: var(--todo-inactive);
}

input.checkbox:checked ~ .todo-checkbox {
   background: rgb(85, 221, 255);
   background: linear-gradient(
      135deg,
      rgba(85, 221, 255, 1) 0%,
      rgba(192, 88, 243, 1) 100%
   );
}

input.checkbox:checked ~ label > .checkbox-icon {
   opacity: 1;
}
