:root {
   /* --bg-color: #171823; */
   --bg-color: #f9f9f9;
   --text-color: #494C6B;
   --todo-bg: #ffffff;
   --todo-border: #E3E4F1;
   --todo-inactive: #D1D2DA;
}

body {
   font-family: 'Josefin Sans', sans-serif;
   min-height: 100vh;
   height: 100%;
   background: var(--bg-color);
}

img {
   width: 100%;
}

.container {
   padding: 3rem 1.5rem;
   margin: 0 auto;
   max-width: 540px;
}

.bg-image {
   min-height: 200px;
   object-fit: cover;
   object-position: 33.3334%, 0%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

@media (min-width: 540px) {
   .bg-image {
      min-height: 300px;
   }
}
